
.card-contact {
  --flow-space: 1.25rem;
  margin-block-end: 4rem;
  margin-block-end: clamp(2.5rem, 5vw, 4rem);
  display: flex;
  flex-direction: column;
}

.card-contact p {
  font-size: 1.2rem;
}

.card-contact form {
  margin-block-end: .25rem;
}

/* Form ------------------------------------------------------------- */
input,
textarea,
select,
button {
  font-size: inherit;
  background: var(--form-bg);
  color: var(--body-color);
}

label {
  font-size: 1.2rem;
  display: block;
  margin-block-end: .25rem;
}

.field-wrap > input, textarea {
  width: 100%;
  border: 1px solid var(--form-border);
  padding: .5rem;
}

.field-wrap > input:focus, textarea:focus {
  outline: 3px solid var(--link-focus);
}

textarea {
  width: 100%;
}

button {
  border: 1px solid var(--form-border);
  color: inherit;
  padding-block: .5rem; 
  padding-inline: 1.25rem;
}

button:hover {
  background: var(--color-blue-dark);
  color: var(--color-purple-light);
  cursor: pointer;
}

button:focus {
  background: var(--body-color);
  color: var(--body-bg);
}

:is(button, input, textarea):disabled  {
  background-color: var(--disabled-bg);
  color: var(--disabled-text);
}
