.reading {
  --flow-space: 2.7rem;
  --flow-space: clamp(2rem, 2.5vw, 2.5rem);
  font-size: 1.4rem;
  font-size: clamp(1.3rem, 2.5vw, 1.35rem);
  line-height: 1.7;
}

.reading h2,
.reading h3 {
  margin-block-start: 3rem;
}

.reading h2 + h3 {
  margin-block-start: 2rem;
}

.reading h2 + p,
.reading h3 + p,
.reading h2 + ul,
.reading h2 + figure {
  margin-block-start: .5rem;
}

.reading a:hover {
  text-decoration: underline;
}

.reading blockquote {
  border-inline-start: .5rem solid var(--color-magenta-base);
  padding-block: .5rem;
  padding-inline: 2rem;
  padding-inline: clamp(1.25rem, 2.5vw, 2rem);
  font-size: var(--step-1);
  font-weight: 300;
}

/* Class selector is a work around for WP quote block that incorrectly uses a cite element within blockquote */
.cite,
cite {
  font-style: normal;
  font-size: var(--step--1);
}

.cite::before,
cite::before {
  content: '– '
}

.cite {
  margin-block-start: .75rem;
}

figure {
 margin-block-end: 1rem;
 margin-block-end: clamp(.25rem, 2.5vw, 1rem);
}

figure img {
  margin-inline: auto;
  border: 1px solid var(--color-darkest);
}

figcaption {
  font-size: var(--step--1);
  margin-block-start: .5rem;
  line-height: 1.4;
}

pre {
  background: var(--color-darkest);
  padding: .5rem;
  padding: clamp(.5rem, 2.5vw, 1rem);
  color: var(--color-grey-light);
  font-size: 1rem;
  overflow-x: auto;
}

details {
  cursor: pointer;
}

details p,
details li {
  font-size: var(--step--1);
}

hr {
  margin-block: var(--flow-space);
  border: 0;
  border-block-start: 1px solid var(--color-blue-base);
}

/* Adds flow spacing in blog posts */
.post-tags {
  margin-block: 2rem;
  margin-block: clamp(1.5rem, 2.5vw, 3rem);
}

.reading li {
  margin-block-end: .75rem;
  line-height: 1.5;
}

.reading :is(ol, ul)  {
  margin-block-start: 1rem;
  font-size: 1.1rem;
  font-size: clamp(1.1rem, 2.5vw, 1.2rem);
}

.reading li > ul {
  margin-block-start: .25rem;
}

.reading li p {
  line-height: 1.3;
}

.view-posts {
  margin-block-start: 2rem;
  margin-block-start: clamp(1.5rem, 2.5vw, 3rem);
  text-align: center;
}

.view-posts a {
  color: var(--view-posts-color);
  font-size: var(--step-1);
}

.view-posts a:hover {
  color: var(--view-posts-hover);
}

/* Make embedded videos easier to work with */
.wp-block-embed iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
}

.wp-block-embed figcaption {
  margin-block-start: unset;
}