{% extends "layouts/base.html" %}

{% set css %}
  {% include "css/global.css" %}
  {% include "css/blurbs.css" %}
{% endset %}

{% block content %}
  <article class="wrapper section-page flow">
    <h1>{{ title }}</h1>
    <span class="post-summary-text">
      {{ content | safe }}
    </span>
    <ul class="post-summary-list flow">
      {% for item in blurbs | sortBlurbs | limit(10) %}
      {% include "partials/tv-blurbs.html" %}
      {% endfor %}
    </ul>
    {% include "partials/all-shows-links.html" %}
  </article>
{% endblock %}
