{% extends "layouts/base.html" %}

{% set css %}
{% include "css/global.css" %}
{% include "css/wake-up-songs.css" %}
{% endset %}

{% block content %}
<article class="wrapper section-page">
  <h1>{{ title }}</h1>
  <div class="flow">
    <span class="post-summary-text flow">
      {{ content | safe }}
    </span>
    <ul class="song-summary-list flow">
      {% for item in songs | sortByNewest %}
      <li>
        <h2 class="song-header">
          <time datetime="{{ item.date | w3Date }}">{{ item.date | longDate }}</time>
        </h2>
        <p class="song-title">
          {{ item.song }}
        </p>
        <p>
          <span class="visually-hidden">by </span>{{ item.artist }} &mdash; <a href="{{ item.link }}">Listen at {{ item.source}}</a>
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>
</article>
{% endblock %}