          <li class="post-summary-list">
            <h2><a href="/blog/{{ posts.slug }}">{{ posts.title.rendered | safe }}</a></h2>
            <p class="post-summary-text">{{ posts.acf.summary | safe }}</p>
            <div class="post-meta">
              <p>
                Published on <time datetime="{{ posts.date | w3Date }}">{{ posts.date | longDate }}
              </time>
            </p>
            {% if posts.tags | length %}
            {% include "partials/tags.html" %}
            {% endif %}
          </li>
