          <li class="post-summary-list">
            <{{ headingLevel if headingLevel else 'h2'}}><a href="/blog/{{ posts.slug }}">{{ posts.title.rendered | safe }}</a></{{ headingLevel if headingLevel else 'h2'}}>
            <p class="{% if page.url == "/" %}post-summary-text-sm{% else %}post-summary-text{% endif %}">{{ posts.acf.summary | safe }}</p>
            <div class="post-meta">
              <p>
                <time datetime="{{ posts.date | w3Date }}">{{ posts.date | longDate }}
              </time>
            </p>
            {% if posts.tags | length %}
            {% include "partials/tags.html" %}
            {% endif %}
          </li>
