<article class="card-pixelfed">
  <h2>Latest from Pixelfed...</h2>
  <img
    src="/img/pixelfed-flat-moody.jpg"
    alt="Stormy and foreboding dark blue and green storm clouds seen from a silver rooftop. There is an old school antenna on the roof and a sliver of the Hell Gate bridge can be seen in the background.">
  <p style="padding:10px">Moody from the archives<br>
    <a href="https://pixelfed.social/discover/tags/AstoriaQueens?src=hash" class="u-url hashtag"
      rel="external nofollow noopener">#AstoriaQueens</a>
    <a href="https://pixelfed.social/discover/tags/clouds?src=hash" class="u-url hashtag"
      rel="external nofollow noopener">#clouds</a>
    <a href="https://pixelfed.social/discover/tags/rooftop?src=hash" class="u-url hashtag"
      rel="external nofollow noopener">#rooftop</a>
  </p>
  <p class="pixelfed-cta">
    <a href="https://pixelfed.social/superterrific">View at Pixelfed</a>
  </p>
</article>