  <li>
    <{{ headingLevel if headingLevel else 'h2' }}>{{ item.title }}</{{ headingLevel if headingLevel else 'h2' }}>
    <div class="flex post-meta">
      {% if item.episode %}
      <p>{{ item.episode | upper }}</p> 
      {% endif %}
      <p>{{ item.country }}</p>
    </div>
    {% if item.spoiler %}
    <details class="spoiler plausible-event-name=Spoiler+alert">
      <summary>
        <span class="spoiler-text">Spoiler alert!</span>
      </summary>
      <p class="post-summary-text-sm">{{ item.blurb }} </p>
    </details>
    {% else %}
    <p class="post-summary-text-sm">{{ item.blurb }}</p>
    {% endif %}
  </li>
    

    
